body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    background: #2B7A78;
}

/* Hero Section Start */
.hero-container {
    background: url(images/donation13.jpg) no-repeat center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 650px;
}

.hero-content-section {
    text-align: center;
}

.Header-line {
    color: white;
}

#btn {
    text-decoration: none;
    background-color: rgb(218, 177, 184);
    color: #2B7A78;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-content-section h1 {
    width: 100%;
    margin-top: 200px;
    color: #2B7A78;
    font-weight: 700%;
    font-size: 60px;
}

.hero-content-section p {
    color: white;
    padding: 24px;
    font-size: 25px;
    font-weight: 500%;
} 

/* Hero Section end */

/* Donate section start */

.donate-section {
    margin-top: 650px;
}

.donate-content {
    text-align: center;
    color: black;
    font-size: large;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.donate-amount {
    text-align: center;
    margin-left: 15px;
    color: black;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    background-color: #DEF2F1;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

#amount-box {
    background-color: rgb(218, 177, 184);
    color:rgb(97, 32, 43) ;
    
}

.other-donate-area {
    text-align: center;

}

#input-ammount {
    text-align: center;
    position: relative;


    color: #DEF2F1;
    border: none;
    border-bottom: 1px solid black;

}
/* Donate Section End */

/* Donate plan Section start */
.donate-plan-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.donate-plan-card{
    width: 300px;
    height: 310px;
    margin-left: 20px;
    border: 1px solid gray;

    box-shadow: 5px 5px 5px gray;
    margin-top: 15px;
    padding: 20px;
    text-align: justify;

    border-radius: 5px;
}


#donate-plan-card1{
    background-color: #3AAFA9;
}

#donate-plan-card2{
    background-color: #DEF2F1;
}

#donate-plan-card3{
    background-color: rgb(149, 197, 181);
}
/* Donate plan Section end */

/* bonus-section-start */
.bonus-header {
    text-align: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    background-color: #4a9490;
}
.bonus-box-container {
    display: flex;
    justify-content: center;

}
.bonus-box {
    width: 300px;
    height: 310px;
    margin-left: 30px;
    background-color: rgb(149, 197, 181);
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin-top: 15px;
    padding: 20px;
    text-align: justify;
    border-radius: 5px;
}

.Event-date{
    text-align: right;
    box-sizing: border-box;
    border: 1px solid rgb(218, 177, 184);
    margin-left: 250px;
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    background-color: rgb(218, 177, 184);
}

.bonus-section-btn{
    padding-top: 10px;
}
.bonus-last-button{
    text-align: center;
    margin: 5px 0;
}

/* bonus-section-end */
/* Email-section-start */
.subcription-area {
    width: 500;
    height: 150;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    background-color: rgb(149, 197, 181);
    margin: 50px 250px 100px 250px;
    border-radius: 10px;

}

.subcription-form {
    padding-top: 100px;
    padding-bottom: 100px;

}

#email-box {
    color: rgb(32, 31, 31);
    padding: 0 15px;
    background: aliceblue;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

#submit-box {
    color: rgb(32, 31, 31);
    left: -5px;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(218, 177, 184);

}
/* Email-section-End */